<ion-header>

</ion-header>

<ion-content class="ion-padding">
  <ion-row class="icon_row">
    <ion-col size="12" class="ion-no-padding">
      <ion-icon name="chevron-down-circle"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row class="form_row ion-padding-top ion-margin-top">
    <ion-col size="12" class="ion-no-padding">
      <form [formGroup]="signInForm">
        <ion-label for="email">Email</ion-label>
        <ion-input name="email" type="text" fill="outline" formControlName="email" class="ion-margin-bottom border"
          [ngClass]="{green_shadow : signInForm.controls['email'].valid && (signInForm.controls['email'].dirty || signInForm.controls['email'].touched), red_shadow : signInForm.controls['email'].invalid && (signInForm.controls['email'].dirty || signInForm.controls['email'].touched)}"></ion-input>
        <ion-note
          *ngIf="signInForm.controls['email'].invalid && (signInForm.controls['email'].dirty || signInForm.controls['email'].touched)">
          You must enter valid email address.
        </ion-note>
        <ion-label for="password">Password</ion-label>
        <ion-item lines="none" class="border"
          [ngClass]="{green_shadow : signInForm.controls['password'].valid && (signInForm.controls['password'].dirty || signInForm.controls['password'].touched), red_shadow : signInForm.controls['password'].invalid && (signInForm.controls['password'].dirty || signInForm.controls['password'].touched)}">
          <ion-input name="password" [type]="showPassword ? 'text' : 'password'" fill="outline"
            formControlName="password">
          </ion-input>
          <ion-button (click)="togglePassword()">
            <ion-icon slot="icon-only" name="eye" *ngIf="showPassword"></ion-icon>
            <ion-icon slot="icon-only" name="eye-off" *ngIf="!showPassword"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-note *ngIf="signInForm.controls['password'].invalid && (signInForm.controls['password'].dirty ||
          signInForm.controls['password'].touched)">
          You must enter valid password.
        </ion-note>
      </form>
    </ion-col>
  </ion-row>
  <ion-row class="button_row">
    <ion-col size="12" class="ion-no-padding">
      <ion-button (click)="onClick()" expand="block" fill="clear" shape="round"
        class="forgot_password_btn ion-margin-bottom">
        Forgot your password?
      </ion-button>
      <ion-button (click)="signIn()" expand="block" class="sign_in_btn" [disabled]="!signInForm.valid">
        Sign in
      </ion-button>
      <ion-button (click)="onClick()" expand="block" fill="clear" shape="round" class="sign_up_btn ion-margin-top">
        No account? Sign up
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
