ion-content {
  --background: left / cover no-repeat url("../../../assets/welcome-1.svg");
}

swiper-container {
  width: 100%;
  height: 100%;
  --swiper-pagination-bullet {
    width: 14px;
    height: 14px;
  }
}

swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 41px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    color: #ffffff;
    text-align: center;
  }
  width: 100%;
  ion-col {
    display: flex;
    justify-content: center;
    ion-button {
      --color: #fff;
      --background: #0e0f11;
      height: 37px;
      width: 272px;
      img {
        margin-left: 5px;
      }
    }
  }
}

.slide-one {
  background: left / cover no-repeat url("../../../assets/welcome-1.svg");
}
.slide-two {
  background: left / cover no-repeat url("../../../assets/welcome-2.svg");
}
.slide-three {
  background: left / cover no-repeat url("../../../assets/welcome-3.svg");
}
.slide-four {
  background: left / cover no-repeat url("../../../assets/welcome-4.svg");
}
.prev_btn {
  position: absolute;
  bottom: 16px;
  left: 0;
  color: #55ffa3;
  z-index: 1;
  margin-left: 16px;
}
.next_btn {
  position: absolute;
  bottom: 16px;
  right: 0;
  --background: #55ffa3;
  margin-right: 16px;
  color: #0e0f11;
  z-index: 1;
  width: 104px;
}
