ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 700;

  min-height: 20px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
  --background: transparent;
  border-radius: 16px;
  max-width: 70%;
}

ion-menu.md ion-item.selected {
}

ion-menu.md ion-item.selected ion-icon {
  color: #0e0f11;
  font-weight: 700;
}

ion-menu.md ion-item ion-icon {
  color: #0e0f11;
  font-weight: 700;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 16px;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
  border-radius: 16px;
  max-width: 70%;
}

ion-menu.ios ion-item.selected ion-icon {
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-item.selected {
}

ion-col {
  display: flex;
  justify-content: end;
}

.menu_btn {
  color: #3e4247;
  font-weight: 400;
  font-family: "Poppins-medium";
  ion-icon {
    margin-right: 5px;
  }
}

.socials_row {
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: flex;
  ion-col {
    display: flex;
    ion-icon {
      font-size: 31px;
      color: #878f97;
    }
  }
}

.selected {
  background: #55ffa3;
  --background: #55ffa3;
}
