<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content class="safe--area">
        <ion-row>
          <ion-col size="12">
            <ion-button (click)="closeMenu()" expand="block" fill="clear" shape="round" class="menu_btn">
              <ion-icon name="chevron-forward-circle"></ion-icon>
              Close
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected" [class.selected]="isRouteActive(p.url)">
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-row class="socials_row ion-justify-content-center">
          <ion-col size="6" class="ion-justify-content-between">
            <img src="../assets/facebook.svg" alt="facebook_icon">
            <ion-icon name="logo-twitter"></ion-icon>
            <ion-icon name="logo-instagram"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
