<ion-header>

</ion-header>

<ion-content fullscreen="true">
  <div id="map" class="map"></div>
  <ion-searchbar placeholder="Explore primate sites" class="custom" clearIcon="false"
    (ionChange)="onSearchChange($event)" (ionInput)="handleInput($event)" [debounce]="250">
    <ion-menu-button></ion-menu-button>
  </ion-searchbar>
  <ion-row>
    <ion-col size="12" class="filter_col ion-justify-content-between">
      <ion-button (click)="onClick()" expand="block" fill="clear" shape="round" size="small">
        <ion-icon name="earth-outline"></ion-icon>
        All Sites
      </ion-button>
      <ion-button (click)="onClick()" expand="block" fill="clear" shape="round" size="small">
        <ion-icon name="star-outline"></ion-icon>
        Favourites
      </ion-button>
      <ion-button (click)="onClick()" expand="block" fill="clear" shape="round" size="small">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        I've Been
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-fab slot="fixed" vertical="top" horizontal="end" class="side_fab">
    <ion-fab-button size="small"><fa-icon [icon]="faTableList"></fa-icon></ion-fab-button>
    <ion-fab-button size="small"><fa-icon [icon]="faLayerGroup"></fa-icon></ion-fab-button>
    <ion-fab-button size="small"><fa-icon [icon]="faLocationArrow"></fa-icon></ion-fab-button>
  </ion-fab>
  <!-- <img src="../../assets/cluster.svg" alt="map_markers" class="map_markers"> -->
  <ion-row class="guidelines_row">
    <ion-col size="12">
      <ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
        Guidelines
        <img src="../../assets/little_monkey.svg" alt="monkey_icon">
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-fab slot="fixed" horizontal="end" vertical="bottom" class="add_btn">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>