<ion-header>

</ion-header>

<ion-content class="safe--area">
  <swiper-container #swiper (afterinit)="swiperReady()" (slideChange)="swiperSlideChanged($event)" [pagination]="true">
    <swiper-slide class="slide-one">
      <h1>
        Welcome to Primate
      </h1>
    </swiper-slide>
    <swiper-slide class="slide-two">
      <h1>
        Promoting Ethical Primate Tourism
      </h1>
    </swiper-slide>
    <swiper-slide class="slide-three">
      <h1>
        Helping you and primates stay safe
      </h1>
      <ion-row class="guidelines_row">
        <ion-col size="12">
          <ion-button expand="block" fill="clear" shape="round">
            See Illustrated Guidelines
            <img src="../../assets/little_monkey.svg" alt="monkey_icon">
          </ion-button>
        </ion-col>
      </ion-row>
    </swiper-slide>
    <swiper-slide class="slide-four">
      <h1>
        Let's get exploring!
      </h1>
    </swiper-slide>
  </swiper-container>
  <ion-button *ngIf="step && step > 0" (click)="prev()" expand="block" fill="clear" shape="round"
    class="prev_btn">Prev</ion-button>
  <ion-button *ngIf="step < 3" (click)="next()" expand="block" class="next_btn">
    Next
  </ion-button>
  <ion-button *ngIf="step && step === 3" (click)="proceed()" expand="block" class="next_btn">
    Proceed
  </ion-button>
</ion-content>
