/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.searchbar-input-container.sc-ion-searchbar-ios {
  height: 62px;
}

.searchbar-left-aligned.sc-ion-searchbar-ios-h
  .searchbar-input.sc-ion-searchbar-ios {
  padding-inline-start: 50px;
}

.searchbar-left-aligned.sc-ion-searchbar-ios-h
  .searchbar-search-icon.sc-ion-searchbar-ios {
  margin-inline-start: 12px;
}

.item.sc-ion-label-ios-h,
.item .sc-ion-label-ios-h {
  color: #0e0f11;
  font-weight: 700;
}
.item .sc-ion-label-ios-h .item.sc-ion-label-md-h,
.item .sc-ion-label-md-h {
  color: #0e0f11;
  font-weight: 700;
}

ion-content {
  padding-top: var(--ion-safe-area-top);
  padding-bottom: var(--ion-safe-area-bottom);
  --padding-top: var(--ion-safe-area-top);
  --padding-bottom: var(--ion-safe-area-bottom);
}
