<ion-header>
</ion-header>

<ion-content class="ion-padding">
  <ion-row class="icon_row">
    <ion-col size="12" class="ion-no-padding">
      <ion-icon name="chevron-down-circle"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row class="forgotten-password-txt ion-margin-top">
    <h3>FORGOTTEN PASSWORD</h3>
    <p>Enter your email below and we'll send you instructions on how to reset your password.</p>
  </ion-row>
  <ion-row class="form_row ion-padding-top ion-margin-top">
    <ion-col size="12" class="ion-no-padding">
      <form [formGroup]="emailForm">
        <ion-label for="email">Email</ion-label>
        <ion-input name="email" type="email" placeholder="" formControlName="email" class="border ion-margin-bottom"
          [ngClass]="{green_shadow : emailForm.controls['email'].valid && (emailForm.controls['email'].dirty || emailForm.controls['email'].touched), red_shadow : emailForm.controls['email'].invalid && (emailForm.controls['email'].dirty || emailForm.controls['email'].touched)}"></ion-input>
        <ion-note
          *ngIf="emailForm.controls['email'].invalid && (emailForm.controls['email'].dirty || emailForm.controls['email'].touched)">
          You must enter valid email address.
        </ion-note>
      </form>
    </ion-col>
  </ion-row>
  <ion-row class="button_row">
    <ion-col size="12" class="ion-no-padding">
      <ion-button (click)="sendResetEmail()" expand="block" class="sign_in_btn" [disabled]="!emailForm.valid">
        Send password reset
      </ion-button>
      <ion-button (click)="cancel()" expand="block" fill="clear" shape="round" class="sign_up_btn ion-margin-top">
        Cancel
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>